*~

# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
.Rproj.user

# vim backup files
*.swp

data*/
.secret/
_site/
site_libs/
img/R-ecology-*
/0*.html
/0*.knit.md

# output from linkchecker
link_res.csv
